@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);  
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab); 

body {
    background: #000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
a:hover {
    text-decoration: none;
}
address a {
    color: #ffffff;
}
address a:hover {
    color: rgb(145, 15, 15);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: rgb(145, 15, 15);
    border: 0px solid #FFF;
}
.clear {
    clear: both;
}
.bottom-line {
    width: 50%;
    margin: 20px 25%;
    height: 1px;
    background: #fff;
}
.container-custom {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    overflow: auto;
}
.content .container-custom {
    width: calc(100% + 50px);
    padding-right: 50px;
}
.font-theme {
    color: rgb(145, 15, 15);
    font-weight: 400;
}
.main-wrap {
    height: 100vh;
    width: 100vw;
}
.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}
.jumbotron small {
    color: #FFF;
}

/*=======================================
nav bar
===================================*/
nav {
    padding: 40px 0px 0px 340px;
}
nav .desktop-view-menu .sidebar-network {
    position: relative;
    display: none;
}
nav .desktop-view-menu .sidebar-network, nav .desktop-view-menu .sidebar-network .sn-icon {
    background: #000000;
}
nav ul.nav-menu {
    height: 60px;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
    border-bottom: 1px solid rgb(145, 15, 15);
}
nav ul.nav-menu li {
    float: left;
    list-style: none;
    height: 100%;
}
nav ul.nav-menu li a {
    cursor: pointer;
    color: rgb(117, 66, 66);
    height: 100%;
    padding: 18px 0px;
    margin: 0px 22px;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto Slab",serif;
}
nav ul.nav-menu li a:hover {
    border-bottom: 3px solid rgb(145, 15, 15);
}
aside {
    z-index: 5;
    width: 340px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
nav .mobile-view-menu #menu-btn {
    color: rgb(145, 15, 15);
}
nav ul.nav-menu li a:hover {
    background: rgb(145, 15, 15);
}

/*==================================================
	SIDEBAR
==================================================*/
aside .sidebar-content .row.photo-profile .photo-frame  {
    background: transparent;
    background-position:  40% 0% ; 
    background-size: auto 100% ;   
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; 
    overflow: hidden; 
    width: 180px;
    height: 180px;
    border: 1px solid #FFF; 
    margin: 20px auto
}
aside .sidebar-background {
    z-index: -1;
    position: absolute;
    background: rgba(0, 0, 0, 0.45) none repeat scroll 0% 0%;
    width: 100%;
    height: 100%;
    border-right: 1px solid #232323;
}
aside .sidebar-content {
    color: #fff;
    padding: 0px 40px;
}
aside .sidebar-content .row.logo-name {
    font-family: 'Roboto Slab', serif;
    margin-top: 45px;
    text-align: center;
    display: block;
    font-size: 48px;
}
aside .sidebar-content .row.photo-profile {
    margin: 20px 0;
}
.sidebar-content .row.profile-decription {
    margin: 30px 0px 20px;
}
.sidebar-network {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    border-top: 1px solid #000407;
}
.sidebar-network .sn-icon {
    padding: 0px;
    background: rgba(255, 255, 255, 0.04) none repeat scroll 0% 0%;
    text-align: center;
    border-left: 1px solid #000407;
    text-align: center;
}
.sidebar-network .sn-icon a {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transform-style: preserve-3d;
    transform: preserve-3d;
    cursor: pointer;
    width: 100%;
    float: left;
    padding: 20px;
    color: rgb(145, 15, 15);
}
.sidebar-network .sn-icon a:hover {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    color: #111718;
    background: rgb(145, 15, 15);
}
.sidebar-network .sn-icon:nth-child(1) {
    border-left: 0px solid rgb(145, 15, 15);
}



/*==================================================
	GENERAL SECTION
==================================================*/
.content .container-custom::-webkit-scrollbar { width: 0 !important }
section.background  {
    opacity: 0.2;
  background: url("../images/DSC_7637.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size:100% 100%; 
background-size: 100% 100%;
}
section.content.active {
    opacity: 1;
    z-index: 3;
}
section .title-tab {
    font-weight: 400;
    font-size: 28px;
    padding-bottom: 20px;
    color: rgb(145, 15, 15);
    font-family: "Roboto Slab",serif;
}
section .btn {
    font-family: "Roboto Slab",serif;
    background: rgb(145, 15, 15);
    border: 0px solid #FFF;
    color: #242424;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 20px}
section .btn:hover {
    color: #ffffff;
}
section .btn:hover {
    background: rgb(145, 15, 15);
    color: #ffffff;
}
section.background {
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
}
section.content {
    width: 100%;
    padding: 10px 0px 110px 340px;
    width: 100%;
    color: #ffffff;
    height: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
 section.content .container-content {
    height: 100%;
    padding: 0px 20px;
    position: relative;
}
section.content .pharagrap {
    max-width: 80%;
    padding: 10px 0px;
}
/*mozilla*/
@-moz-document url-prefix() {
section.content  {  
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in; 
	}
}
/* chrome*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
section.content { 
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in; 
 	}
}
/* ie>9 */
@media screen and (min-width:0\0) {
section.content {  
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in; 
  }
}
/*safari*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari 5+ ONLY */
    ::i-block-chrome, section.content { 
    -webkit-transition: all 500ms ease-out;
    }
}

/*==================================================
	ABOUT
==================================================*/
section.content.about-content h1 {
    font-family: "Roboto Slab",serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 300;
}
section.content.about-content .pharagrap {
    padding: 30px 0px;
}
/* TESTIMONIAL */
.testimonial blockquote ,.testimonial blockquote small {
    font-size: 14px;
}
.testimonial blockquote small {
    color: rgb(145, 15, 15); 
}
.testimonial .img-testimonial {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial p {
    font-style: italic;
}
.testimonial .carousel-inner {
    min-height: 135px;
}
.testimonial .img-testimonial img {
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
}
.testimonial #quote-carousel {
    padding: 0 10px 30px 10px;
}
.testimonial #quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
.testimonial .item blockquote {
    border-left: none;
    margin: 0;
}
.testimonial .item blockquote img {
    margin-bottom: 10px;
}
.testimonial .item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
@media (min-width: 768px) { 
.testimonial #quote-carousel{
	margin-bottom: 0;
	padding: 0px 0px 10px 0px;
    }   
}


